* {
    font-family: arial, sans-serif;
}

body {
    padding: 1em;
    background: #fff;
    min-width: 300px;
}

h4 {
    margin: 0;
    margin-bottom: 10px;
}

table {
    border-spacing: 0;
    border-collapse:collapse;
}

tr:nth-child(even) {
    background: #efefef;
}

td {
    vertical-align: top;
}

#url {
    width: 200px;
}